Django==1.9.8
psycopg2==2.6.2
dj-database-url==0.4.1
gunicorn==19.6.0
whitenoise==3.2
django-model-utils==2.5
feedparser==5.2.1
Pillow==4.0.0
python-dateutil==2.5.3
lxml==3.6.1
bleach==1.4.3
html5lib==0.9999999
requests==2.10.0
codecov==2.0.5
pytest_django==2.9.1
pytest-cov==2.3.0
factory_boy==2.7.0
vcrpy==1.9.0
pytest-flake8==0.6
pytz==2016.6.1
readability-api==1.0.2
Faker==0.7.7
