interactions:
- request:
    body: null
    headers:
      x-api-key: [xxx]
    method: GET
    uri: https://mercury.postlight.com/parser?url=https%3A%2F%2Fsemaphoreci.com%2Fcommunity%2Ftutorials%2Fsetting-up-a-bdd-stack-on-a-django-application
  response:
    body: {string: '{"title":"Setting Up a BDD Stack on a Django Application","author":null,"date_published":null,"dek":null,"lead_image_url":"https://d1dkupr86d302v.cloudfront.net/community/assets/social-media-icons/icon-tag-python-8741b02e76dd7b99e8e0333826ae4c946541c198e136eb928edf84908aa51b36.png","content":"<div><p
        class=\"page-subtitle page-intro\">Boost your Django and Python stack with
        Behavior Driven Development. Learn to write great BDD tests for your application
        and avoid use-case mistakes.</p><section id=\"tutorial-content\" class=\"block-center-img\">
        <p>This tutorial will guide you through installing <a href=\"https://pythonhosted.org/behave/django.html\"><code>behave_django</code></a>
        and <a href=\"https://pythonhosted.org/behave/django.html\"><code>FactoryBoy</code></a>
        to set up a BDD stack for a Django application. For this purpose, we will
        create a simple login form as a base for developing BDD tests.</p> <p><a href=\"https://semaphoreci.com/community/tutorials/behavior-driven-development\">BDD</a>
        puts the user at the center of your tests. It is an increasingly popular method
        that helps you validate your code from an end-user point of view. Tests are
        expressed as scenarios (use cases).</p> <h3>Prerequisites</h3> <p>In this
        tutorial, we are assuming you are running on MacOS or Linux. It may work on
        Windows machines with some changes to the commands we provide.</p> <p>This
        tutorial also requires:</p> <ul> <li>Python (preferably 2.7+, 3.4+)</li> <li>PIP
        (Python package manager)</li> </ul> <h2>Initiating the Project</h2> <p>Start
        by creating a Django application as follows:</p> <div class=\"highlight highlight-bash\"><pre>pip
        install django django-admin startproject bdd_example <span class=\"nb\">cd
        </span>bdd_example/ </pre></div> <p>Since this tutorial serves as an example
        to kickstart your BDD project, we will use Django&apos;s default settings,
        as well as the default SQLite database driver. Follow the steps <a href=\"https://docs.djangoproject.com/en/1.8/intro/tutorial01/\">of
        this Django guide</a> if you need special configuration.</p> <h2>Installing
        behave_django</h2> <p><code>behave_django</code> will be used to run BDD feature
        tests via the Behave module. <em>Feature</em> can be read as another word
        for <em>scenario</em>.</p> <p>Before starting to develop your application,
        ensure that <code>phantomjs</code> is available on your system:</p> <p>If
        the command returns &quot;not found&quot;, you will need to install <code>phantomjs</code>
        by <a href=\"http://phantomjs.org/\">downloading it from there</a>. If you
        are running Ubuntu or Debian, <a href=\"https://gist.github.com/julionc/7476620\">this
        thread wi[...]
