interactions:
- request:
    body: null
    headers:
      A-Im: [feed]
    method: GET
    uri: https://pythondigest.ru/rss/
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss xmlns:atom=\"\
        http://www.w3.org/2005/Atom\" version=\"2.0\"><channel><title>\u0414\u0430\
        \u0439\u0434\u0436\u0435\u0441\u0442 \u043D\u043E\u0432\u043E\u0441\u0442\u0435\
        \u0439 \u043E python</title><link>https://pythondigest.ru/</link><description>\u0420\
        \u0443\u0441\u043A\u043E\u044F\u0437\u044B\u0447\u043D\u044B\u0435 \u0430\u043D\
        \u043E\u043D\u0441\u044B \u0441\u0432\u0435\u0436\u0438\u0445 \u043D\u043E\
        \u0432\u043E\u0441\u0442\u0435\u0439 \u043E python \u0438 \u0431\u043B\u0438\
        \u0437\u043B\u0435\u0436\u0430\u0449\u0438\u0445 \u0442\u0435\u0445\u043D\u043E\
        \u043B\u043E\u0433\u0438\u044F\u0445.</description><atom:link href=\"https://pythondigest.ru/rss/\"\
        \ rel=\"self\"></atom:link><language>ru-ru</language><lastBuildDate>Mon, 25\
        \ Jul 2016 01:01:36 +0300</lastBuildDate><item><title>lxml - 3.6.1</title><link>https://allmychanges.com/p/python/lxml/#3.6.1</link><description>\u041C\
        \u043E\u0449\u043D\u044B\u0439 \u0438 \u0431\u044B\u0441\u0442\u0440\u044B\
        \u0439 \u043C\u043E\u0434\u0443\u043B\u044C \u0434\u043B\u044F \u043E\u0431\
        \u0440\u0430\u0431\u043E\u0442\u043A\u0438 XML/HTML. \u0418\u0437\u043C\u0435\
        \u043D\u0435\u043D\u0438\u044F \u043E\u043F\u0438\u0441\u0430\u043D\u044B\
        \ \u043F\u043E \u0441\u0441\u044B\u043B\u043A\u0435 &lt;a href=\"https://allmychanges.com/p/python/lxml/#3.6.1\"\
        &gt;https://allmychanges.com/p/python/lxml/#3.6.1&lt;/a&gt;. \u0421\u043A\u0430\
        \u0447\u0430\u0442\u044C \u043C\u043E\u0436\u043D\u043E \u043F\u043E \u0441\
        \u0441\u044B\u043B\u043A\u0435: &lt;a href=\"None\"&gt;None&lt;/a&gt;</description><pubDate>Mon,\
        \ 25 Jul 2016 00:30:06 +0300</pubDate><guid>https://allmychanges.com/p/python/lxml/#3.6.1</guid></item><item><title>aiohttp\
        \ - 0.22.2</title><link>https://allmychanges.com/p/python/aiohttp/#0.22.2</link><description>http\
        \ \u043A\u043B\u0438\u0435\u043D\u0442/\u0441\u0435\u0440\u0432\u0435\u0440\
        \ \u0434\u043B\u044F asyncio. \u0418\u0437\u043C\u0435\u043D\u0435\u043D\u0438\
        \u044F \u043E\u043F\u0438\u0441\u0430\u043D\u044B \u043F\u043E \u0441\u0441\
        \u044B\u043B\u043A\u0435 &lt;a href=\"https://[...]
