interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pythondigest.ru/api/items/2016/10/28/
  response:
    body: {string: '{"items": [{"section__title": "\u0421\u0442\u0430\u0442\u044c\u0438",
        "language": "en", "link": "http://www.patricksoftwareblog.com/relational-database-migrations-using-flask-migrate/",
        "description": "", "title": "\u041c\u0438\u0433\u0440\u0430\u0446\u0438\u0438
        \u0434\u043b\u044f \u0440\u0435\u043b\u044f\u0446\u0438\u043e\u043d\u043d\u043e\u0439
        \u0411\u0414 \u0434\u043b\u044f Flask \u0441 Flask-Migrate"}], "ok": true}'}
    headers:
      Content-Language: [ru]
      Content-Type: [application/json]
      Last-Modified: ['Sat, 29 Oct 2016 13:57:44 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://pythondigest.ru/api/items/2016/10/29/
  response:
    body: {string: '{"items": [{"section__title": "\u0418\u043d\u0442\u0435\u0440\u0435\u0441\u043d\u044b\u0435
        \u043f\u0440\u043e\u0435\u043a\u0442\u044b, \u0438\u043d\u0441\u0442\u0440\u0443\u043c\u0435\u043d\u0442\u044b,
        \u0431\u0438\u0431\u043b\u0438\u043e\u0442\u0435\u043a\u0438", "language":
        "en", "link": "http://github.com/stedmeister/easyargs", "description": "",
        "title": "easyargs - \u043c\u043e\u0434\u0443\u043b\u044c \u0434\u043b\u044f
        \u043f\u0440\u043e\u0441\u0442\u043e\u0433\u043e \u0441\u043e\u0437\u0434\u0430\u043d\u0438\u044f
        CLI \u0434\u043b\u044f \u0444\u0443\u043d\u043a\u0446\u0438\u0439"}], "ok":
        true}'}
    headers:
      Content-Language: [ru]
      Content-Type: [application/json]
      Last-Modified: ['Sat, 29 Oct 2016 13:57:44 GMT']
    status: {code: 200, message: OK}
version: 1
