.head-banner {
	background-color: #e3e4e6;
}
.head-banner img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.navbar .container-fluid {
	margin-bottom: -20px;
}
.navbar-right li a {
	font-size: 20px;
	color: #000;
}
ul.navbar-right {
	padding-top: 7px;
}
.hr-divider {
	color: #979797;
	background-color: #979797;
	border: none;
	height: 2px;
}
.header-news h1 {
	font-size: 28px;
	font-weight: bold;
	color: #000;
	margin-top: 7px;
}
.header-news p {
	font-size: 20px;
	color: #a5a5a5;
}
.header-news button {
	font-size: 16px;
	color: #fff;
}
p.tag {
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding-top: 10px;
	text-transform: lowercase;
}
.article h4 {
	font-weight: bold;
}
.article p.text {
	font-size: 14px;
	color: #000;
	opacity: 0.5;
	line-height: 20px;
}
.article p.date {
	opacity: 0.5;
	font-size: 12px;
	font-weight: bold;
}
.event-date {
	text-align: center;
	font-size: 60px;
	color: #e93f33;
	line-height: 2.9em;
}
.event button {
	background-color: #fed243;
	text-transform: uppercase;
}
.event h4 {
	font-weight: bold;
}
.event p.text {
	font-size: 14px;
	color: #000;
	opacity: 0.5;
	line-height: 20px;
}
.landing .col-md-4 {
	min-height: 380px;
}
.img-container {
	height: 13em;
	display: inline-block;
	vertical-align: middle;
	float: none;
}
.subscribe {
	background-color: #2573ad;
	color: #fff;
	padding-left: 25px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-bottom: 30px;
}
.subscribe button {
	background-color: #fed243;
	text-transform: uppercase;
	color: #000;
}
.subscribe h3 {
	padding-left: 15px;
}
.subscribe p {
	font-size: 14px;
}