{% load staticfiles %}
<section class="about-us-section">
  <div class="container">
    <!-- about us -->
    <div class="about-us">
      <h1>Немного о нас</h1>
      <p>Мы евангелисты сообщества MoscowPython. Занимаемся развитием Python-сообщества: организуем курсы, встречи, конференции и другую движуху.</p>
      <p>Представьте, как круто: новички знают, где учиться, середнячки — где работать и что подтянуть, профи делятся опытом, принося пользу и себе и сообществу. Все общаются в одной среде: знают, какие и где проходят мероприятия и могут организовать своё.</p>
{#      <div class="btn-holder">#}
{#        <a href="#" class="btn-default">Узнать подробнее</a>#}
{#      </div>#}
    </div>
    <div class="project">
      <div class="project-holder">
        <div class="title"><h1>Что мы делаем</h1></div>
        <!-- project list -->
        <ul class="project-list">
          <!-- project -->
          <li>
            <div class="image-holder"><a href="http://msk.python.ru"><img src="{% static "images/img-project-1.png" %}" width="75" height="105" alt="image description"></a></div>
            <div class="text-holder">
              <p>Сообщество, появившееся в 2012-м году. Мы рады объединять российское сообщество Python и вносить свой вклад в развитие IT-экосистемы. </p>
            </div>
          </li>
          <!-- project -->
          <li>
            <div class="image-holder"><a href="https://conf.python.ru"><img src="{% static "images/img-project-2.png" %}" width="112" height="74" alt="image description"></a></div>
            <div class="text-holder">
              <p>Ежегодная конференция в Москве. На наши встречи собирается больше 200 человек и мы сотрудничаем с Mail.Ru Group, Rambler&co, Яндекс, #tceh и другими. </p>
            </div>
          </li>
          <!-- project -->
          <li>
            <div class="image-holder"><a href="https://learn.python.ru"><img src="{% static "images/img-project-3.png" %}" width="115" height="50" alt="image description"></a></div>
            <div class="text-holder">
              <p>Трехмесячные обучающие оффлайн-курсы Python. Первый русскоязычный курс без «воды». В нем много практики, и ведут его крутые спецы. </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
