{% load staticfiles %}
<section class="about-us">
  <div class="container">
    <div class="about-holder">
      <h2>Немного о нас</h2>
      <p>
        Мы евангелисты сообщества MoscowPython. Занимаемся развитием Python-сообщества: организуем курсы, встречи,
        конференции и другую движуху.
      </p>
      <p>
        Представьте, как круто: новички знают, где учиться, середнячки — где работать и что подтянуть, профи делятся
        опытом, принося пользу и себе и сообществу. Все общаются в одной среде: знают, какие и где проходят мероприятия
        и могут организовать своё.
      </p>
{#      <div class="more-btn">#}
{#        <a href="#">Узнать подробнее</a>#}
{#      </div>#}
    </div>
    <div class="goals-holder">
      <h2>Что мы делаем</h2>
      <ul class="goals-list">
        <li>
          <div class="img-holder">
            <a href="https://msk.python.ru"><img src="{% static "images/icon-01.png" %}" alt=""/></a>
          </div>
          <p>
            Сообщество, появившееся в 2012-м году. Мы рады объединять российское сообщество Python и вносить свой вклад
            в развитие IT-экосистемы.
          </p>
        </li>
        <li>
          <div class="img-holder">
            <a href="https://conf.python.ru"><img src="{% static "images/icon-02.png" %}" alt=""/></a>
          </div>
          <p>
            Ежегодная конференция в Москве. На наши встречи собирается больше 200 человек и мы сотрудничаем с Mail.Ru
            Group, Rambler&amp;co, Яндекс, #tceh и другими.
          </p>
        </li>
        <li>
          <div class="img-holder">
            <a href="https://learn.python.ru"><img src="{% static "images/icon-03.png" %}" alt=""/></a>
          </div>
          <p>
            Трехмесячные обучающие оффлайн-курсы Python. Первый русскоязычный курс без «воды». В нем много практики, и
            ведут его крутые спецы.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
