{% load content_filters %}
<section class="form-section">
  <div class="container">
    <div class="container-inner">
      <header class="heading">
        <div class="title-holder"><h1>Связаться с нами</h1></div>
        <p>Есть идеи и пожелания по развитию сообщества? Пишите, будем рады знать.</p>
      </header>
      <!-- contact form -->
      <form action="#" class="contact-form">
        <div class="form-row">
          <div class="form-column">
            <input type="text" placeholder="Имя">
          </div>
          <div class="form-column">
            <input type="email" placeholder="Email">
          </div>
        </div>
        <div class="form-row textarea-row">
          <textarea placeholder="Сообщение" cols="30" rows="10"></textarea>
        </div>
        <div class="submit-holder">
          <input type="submit" value="Отправить">
        </div>
      </form>
    </div>
  </div>
</section>
