{% load staticfiles %}
<section class="events-section" id="events" style="padding: 49px 0 45px;">
  <div class="container">
    <div class="title-holder">
      <h1>Ближайшие события</h1>
    </div>
    <div style="margin: 0 auto; max-width: 790px; padding: 0 50px; text-align: center;">
      <p>Тут будут анонсы митапов, хакатонов и конференций про Python.<br/>
        Если вы организуете такую - <a href="mailto:team@python.ru" style="text-decoration: underline">дайте нам знать</a> и мы напишем о вас.
      </p>
    </div>
</section>