{% load staticfiles %}
<section class="events_wrapper">
    {% if events %}
        <div class="container">
            <h2>Ближайшие мероприятия</h2>
            <div class="events_list">
                {% for event in events %}
                    <div class="events_item">
                    <div class="event">
                        <div class="image_wrapper">
                            <img src="{% static "/img/event.png" %}" alt="event">
                        </div>
                        <div class="content_wrapper">
                            <div class="event_info">
                                <div class="event_logo">
                                    <img src="{% static "/img/event_logo.png" %}" alt="event_logo">
                                </div>
                                <div class="event_date">
                                    <p class="date">{{ event.date|date:'d' }}</p>
                                    <p class="month">{{ event.date|date:'M' }}</p>
                                </div>
                                <div class="event_location">
                                    <div class="place">{{ event.city }}</div>
                                <div class="day">{{ event.date|date:'d M Y' }} / <span class="time">{{ event.date|date:'H:m' }}</span></div>
                                </div>
                                <div class="price">
                                    Free
{#                                    <i class="fa fa-rub" aria-hidden="true"></i>#}
                                </div>
                            </div>
                            <div class="event_title">
                                {{ event.name }}
                            </div>
                            <div class="event_descr">
                                {{ event.description_html }}
                            </div>
                            <a href="{{ event.url }}" class="event_detail">Подробнее</a>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
{#            <button class="btn">все мероприятия</button>#}
        </div>
    {% endif %}
</section>