{% load staticfiles %}
<section class="events-section" id="events">
  <div class="container">
    <div class="title-holder">
      <h1>Ближайшие события</h1>
    </div>
    <div class="image-holder">
      <img src="{% static "images/russia_outline_map.svg" %}" style="transform: rotate(-5deg);" width="415" height="245" alt="Карта событий">
    </div>
    <div class="events-holder">
      <!-- events list -->
      <ul class="events-list">
        {% for event in events %}
        <li>
          <time datetime="{{ event.date|date:"Y-m-d H:m" }}">
            <span class="number-holder">{{ event.date|date:"d" }}</span>
            <span class="text-holder">{{ event.date|date:"E, l"|lower }}</span>
          </time>
          <div class="event-holder">
            <a href="{{ event.url }}" target="_blank">{{ event.name }}</a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
