{% load staticfiles %}
<footer class="footer">
  <div class="container">
    <!-- email -->
    <a href="mailto:team@python.ru">team@python.ru</a>
    <!-- social networks -->
    <ul class="social-networks">
      {% for social_link in social_links %}
        <li><a href="{{ social_link.url }}" class="icon-{{ social_link.id }}">{{ social_link.name }}</a></li>
      {% endfor %}
    </ul>
    <!-- copyright -->
    <p class="copyright">&copy; 2016-2020 <a href="https://python.ru">Python.ru</a></p>
  </div>
</footer>