{% load staticfiles %}


<div class="container junior">
    <h1>Python Junior</h1>
    <div>
        <div class="junior-about">
            <h2>Что это</h2>
            <p>Python Junior – встреча в Москве для начинающих программистов на Python.</p>
            <p>Наша цель – помочь быстрее разобраться с базовыми вопросами, научить писать более качественный код и дать возможность пообщаться с единомышленниками.</p>
            <p>Мы хотим, чтобы как можно больше разработчиков на Python были знакомы друг с другом. Когда есть, с кем поболтать, спросить, помочь или поработато – это же круто!</p>

            <h2>Место и время</h2>
            <p>
            <div>Митап начнётся <strong>9-го февраля в 19:00</strong> в офисе Ingram Micro.</div>
            <div>Адрес: Ленинградский Проспект, дом 15, стр. 18.</div>
            <div>10 минут пешком от станции метро Белорусская.</div>
            </p>

            <div class="junior-register-wrapper">
                <div class="submit-holder">
                    <button>Зарегистрироваться</button>
                </div>
            </div>
        </div>
        <div class="junior-program">
            <h2>Программа</h2>

            <div class="talk">
                <div class="speaker-image">
                    <img src="https://moscowdjango.s3.amazonaws.com/media/speakers/gp.jpg">
                    <div class="author">Григорий Петров</div>
                </div>
                <div class="details">
                    <h4>Что такое переменные</h4>
                    <div>В своем выступлении я впервые попробую объяснить переменные:
                    не рассказывая предварительно как работает компьютер, память и компилятор;
                    не вводя мешок дополнительных сущностей вроде “присваивание”, “данные”, “оператор” и непереводимое “evaluate”;
                    не проводя аналогии с математикой.</div>
                </div>
            </div>

            <div class="talk">
                <div class="speaker-image">
                    <img src="{% static "images/people/haerov.png" %}">
                    <div class="author">Александр Хаёров</div>
                </div>
                <div class="details">
                    <h4>Система типов в Python</h4>
                    <div>Типизация – важный аспект, который зачастую характеризует тот или иной язык программирования, наделяя его разными свойствами. В докладе будут рассмотрена общая информация о типизации, ее роли. Узнаем подробно какая типизация в Python и как использовать для написания лучшего кода.</div>
                </div>
            </div>

            <div class="talk">
                <div class="speaker-image">
                    <img src="{% static "images/people/lebedev.png" %}">
                    <div class="author">Илья Лебедев</div>
                </div>
                <div class="details">
                    <h4>Правила именования функций</h4>
                    <div>Правильно называть сущности очень важно. Плохие названия превратят хороший код в плохой и нечитаемый.
                        В докладе я расскажу о практиках, которые помогут начинающим разработчикам. Их легко применять на практике и они делают код заметно качественнее.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>