{% load staticfiles %}


<div class="container junior">
    <h1>Python Junior Meetup</h1>
    <h1>{{ object.name }}</h1>
    {% if object.is_translation_alive %}
        <div style="text-align: center">
            {{ object.translation_video_code | safe }}
        </div>
    {% endif %}
    <div>
        <div class="junior-about">
            {{ object.description_html | safe }}
            {% if object.is_registration_available %}
                <div class="junior-register-wrapper">
                    <div class="submit-holder">
                        <a href="{{ object.register_url }}">
                            <button>Зарегистрироваться</button>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="junior-program">
            <h2>Программа</h2>

            {% for talk in object.talks.all %}
                <div class="talk">
                    <div class="speaker-image">
                        <img src="{{ talk.speaker.avatar.url }}">
                        <div class="author">{{ talk.speaker.full_name }}</div>
                        <a class="work" href="{{ talk.speaker.employer.url }}" target="_blank">{{ talk.speaker.employer.name }}</a>
                    </div>
                    <div class="details">
                    <h4>{{ talk.title }}</h4>
                        <div class="slides_wrapper">
                            {% if talk.slides_url %}
                                <span>
                                    <img src="{% static 'images/speakerdeck.png' %}" width="20"/>
                                    <a href="{{ talk.slides_url }}" target="_blank">слайды</a>
                                </span>
                            {% endif %}
                            {% if talk.video_url %}
                                <span>
                                    <img src="{% static 'images/youtube.png' %}" width="20"/>
                                    <a href="{{ talk.video_url }}" target="_blank">видео</a>
                                </span>
                            {% endif %}
                        </div>
                    <div>{{ talk.description | safe }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>