{% load staticfiles %}
<div class="posts_item">
    <div class="mobile_heading">
        <p>Блог</p>
    </div>
    <h4>Тэги</h4>
    <ul class="tags">
        {% for tag in tags %}
        <li><a href="/tag/{{ tag.name }}"># {{ tag.name }}</a></li>
        {% endfor %}
    </ul>
    <div class="sponsor_wrapper">

        <div class="sponsor_title">
            <div class="title">Community sponsor</div>
            <div class="heart">
                <img src="{% static 'img/heart.png' %}" alt="heart">
            </div>
        </div>
        <div class="sponsor_list">
            {% for sponsor in sponsors %}
                <div class="sponsor_item">
                <a href="{{ sponsor.link }}" style="text-decoration: none;">
                    <img src="{{ sponsor.img }}" alt="sponsor">
                    <p class="sponsor_name">{{ sponsor.title }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>