{% load staticfiles %}
<div class="posts_item">
    <div class="mobile_heading">
        <p>Блог</p>
    </div>
    <h4>Тэги</h4>
    <ul class="tags">
        <li><a href="#"># Tutorials</a></li>
        <li><a href="#"># Tutorials</a></li>
        <li><a href="#"># Tutorials</a></li>
        <li><a href="#"># Tutorials</a></li>
        <li><a href="#"># Tutorials</a></li>
        <li><a href="#"># Tutorials</a></li>
        <li><a href="#"># Tutorials</a></li>
        <li><a href="#"># Tutorials</a></li>
        <li><a href="#"># Tutorials</a></li>
        <li><a href="#"># Tutorials</a></li>
    </ul>
    <div class="sponsor_wrapper">
        <div class="sponsor_title">
            <div class="title">Community sponsor</div>
            <div class="heart">
                <img src="{% static 'img/heart.png' %}" alt="heart">
            </div>
        </div>
        <div class="sponsor_list">
            <div class="sponsor_item">
                <img src="{% static 'img/drylabs.png' %}" alt="sponsor">
                <p class="sponsor_name">Drylabs</p>
            </div>
            <div class="sponsor_item">
                <img src="{% static 'img/itcanfly.png' %}" alt="sponsor">
                <p class="sponsor_name">itcanfly</p>
            </div>
            <div class="sponsor_item">
                <img src="{% static 'img/best.png' %}" alt="sponsor">
                <p class="sponsor_name">BestDoctor</p>
            </div>
            <div class="sponsor_item">
                <img src="{% static 'img/evrone.png' %}" alt="sponsor">
                <p class="sponsor_name">Evrone</p>
            </div>
        </div>
    </div>
</div>