{% load content_filters %}
<section class="info-section">
  <div class="container">
    <div class="title"><h1>Что полезного почитать</h1></div>
    <div class="columns-holder">
      {% regroup links by section as section_list %}

      {% for section in section_list %}
      <div class="column">
        <h2>{{ section.grouper|get_section_name }}</h2>
        <ul>
          {% for link in section.list %}
          <li><a href="{{ link.url }}">{{ link.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
