{% load content_filters %}
<section class="links">
  <div class="container">
    <h2>Что полезного почитать</h2>
    <div class="links-holder">
      {% regroup links by section as section_list %}

      {% for section in section_list %}
      <div class="column">
        <h3>{{ section.grouper|get_section_name }}</h3>
        <ul class="links-list">
          {% for link in section.list %}
          <li><a href="{{ link.url }}">{{ link.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
