{% load staticfiles %}
<section class="news-section">
  <div class="container">
    <div class="js-masonry" data-masonry-options='{"columnWidth": 2, "itemSelector": ".grid-item" }'>

      {# Featured article #}
      <article class="grid-item large">
        <div class="item-holder">
          {% if article_featured.image %}<img src="{{ article_featured.image.url }}" width="792" height="529" alt="">{% endif %}
          <div class="description">
            <time datetime="">{{ article_featured.published_at|date:"j E Y" }}</time>
            <h1><a href="{{ article_featured.url }}" target="_blank">
              {{ article_featured.name }}
            </a></h1>
          </div>
        </div>
      </article>

      {# News right sidebar #}
      <section class="grid-item articles-list">
        <div class="item-holder">
          <strong class="title">Новости</strong>
          <div class="articles-holder">
            {% for article in articles_top %}
            <article class="article">
              <time datetime="">{{ article.published_at|date:"j E Y" }}</time>
              <h1><a href="{{ article.url }}" target="_blank">
                {{ article.name }}
              </a></h1>
            </article>
            {% endfor %}
          </div>
        </div>
      </section>

      {% for article in articles_all %}
      <article class="grid-item">
        <div class="item-holder">
          {% if article.image %}
          <div class="image-holder">
            <img src="{{ article.image.url }}" width="384" height="256" alt="">
          </div>
          {% endif %}
          <div class="text-holder">
            <time datetime="">{{ article.published_at|date:"j E Y" }}</time>
            <h1><a href="{{ article.url }}" target="_blank">{{ article.name }}</a></h1>
            {{ article.description|safe }}
          </div>
        </div>
      </article>
      {% endfor %}
    </div>

{#    <div class="btn-holder">#}
{#      <a href="#" class="btn-default btn-more">Показать ещё</a>#}
{#    </div>#}
  </div>
</section>
