<div class="our_projects">
  <div class="learn_python">Наш проект</div>
  <div class="python_week">Наш проект</div>
  <div class="python_podcast">Наш проект</div>
</div>

<style>
    .our_projects {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
    }
    .learn_python {
        height: 620px;
        flex: 1;
        background: #262525;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .python_week {
        height: 620px;
        flex: 1;
        background: #0F1686;
    }
    .python_podcast {
        height: 620px;
        flex: 1;
        background: #F8F9FA;
    }
</style>