{% load staticfiles %}
<section class="posts_wrapper">
    <div class="container">
        <h2>Последние посты</h2>
        <div class="posts_list">
            <div class="posts_item">
                <h4>Тэги</h4>
                <ul class="tags">
                    <li><a href="#"># Tutorials</a></li>
                    <li><a href="#"># Tutorials</a></li>
                    <li><a href="#"># Tutorials</a></li>
                    <li><a href="#"># Tutorials</a></li>
                    <li><a href="#"># Tutorials</a></li>
                    <li><a href="#"># Tutorials</a></li>
                    <li><a href="#"># Tutorials</a></li>
                    <li><a href="#"># Tutorials</a></li>
                    <li><a href="#"># Tutorials</a></li>
                    <li><a href="#"># Tutorials</a></li>
                </ul>
                {% if tags %}
                    <h4>Тэги</h4>
                {% endif %}
                <ul class="tags">
                    {% for tag in tags %}
                        <li><a href="/tag/{{ tag.name }}"># {{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            {% if sponsors %}
                <div class="sponsor_wrapper">
                    <div class="sponsor_title">
                        <div class="title">Community sponsor</div>
                        <div class="heart">
                            <img src="{% static 'img/heart.png' %}" alt="heart">
                        </div>
                    </div>
                    <div class="sponsor_list">
                        {% for sponsor in sponsors %}
                            <div class="sponsor_item">
                            <a href="{{ sponsor.link }}" style="text-decoration: none;">
                                <img src="/media/{{ sponsor.img }}" alt="sponsor">
                                <p class="sponsor_name">{{ sponsor.title }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            </div>
            <div class="posts_item sec_col">
                <div class="articles">
                    {% for article in articles %}
                        <article>
                        {% if article.is_our %}
                            <a href="/post/{{ article.pk }}">
                        {% else %}
                            <a href="{{ article.url }}">
                        {% endif %}
                            <div class="user_info_content">
                                <div class="user_info">
                                    <div class="name">
                                        {% if article.author.first_name %}
                                            {{ article.author.first_name }}
                                        {% endif %}
                                        {% if article.author.last_name %}
                                            {{  article.author.last_name  }}
                                        {% endif %}
                                        {% if article.author.company %}
                                            <span class="job">{{ article.author.company }}</span>
                                        {% else %}
                                            admin <span class="job">python.ru</span>
                                        {% endif %}

                                    </div>
                                    <div class="date" datetime="{{ event.date|date:"Y-m-d H:m" }}">
                                        {{ article.published_at|date:"j E Y" }}
                                    </div>
                                </div>
                            </div>
                            <div class="article_title">
                                {% if article.name %}
                                    {{ article.name_for_template|safe }}
                                {% endif %}
                            </div>
                        </a>
                        <ul class="article_tags">
                            {% for tag in article.tags.all %}
                                <li><a href="/tags/{{ tag.name }}">#{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                        {% if article.image %}
                            <img src="{{ article.image }}">
                        {% endif %}
                        <div class="article_descr">
                            {{ article.description|safe }}
                        </div>
                        </article>

                    {% endfor %}
                    <div class="bonus_mobile">
                        <a href="#">
                            <img src="{% static "/img/bonus.jpg" %}" alt="image">
                        </a>
                    </div>
                </div>
                <a href="/blog" class="btn">все посты</a>
            </div>
            <div class="posts_item">
                <div class="bonus">
                    <a href="#">
                        <img src="{% static "/img/bonus.jpg" %}" alt="image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>