<section class="subscribe-section">
  <div class="container">
    <div class="container-inner">
      <div class="text-holder">
        <h1>Лучшая рассылка</h1>
        <p>Мы напишем, как будет что-то интересное, а спамить не будем, даже не просите</p>
      </div>
      <div class="form-holder">
        <!-- subscribe form -->
        <form class="subscribe-form"
              action="//moscowpython.us10.list-manage.com/subscribe/post?u=c697064155714e24c8be7e9d8&amp;id=486b0715ab"
              id="mc-embedded-subscribe-form"
              method="post" target="_blank">
          <div class="form-row">
            <input type="email" name="EMAIL" placeholder="Email" required class="required email" />
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c697064155714e24c8be7e9d8_486b0715ab" tabindex="-1" value=""></div>
          </div>
          <div class="submit-holder">
            <input type="submit" value="Подписаться">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
