{% extends 'base.html' %}


{% block header_block %}
	{% include 'blocks/header_no_menu.html' %}
{% endblock %}


{% block main_content %}
	{% include 'blocks/junior.html' %}
    {% if events %}
	    {% include 'blocks/events.html' %}
    {% else %}
	    {% include 'blocks/events_stub.html' %}
    {% endif %}
	{% include 'blocks/about_us.html' %}
{% endblock %}


{% block extra_js %}
	<script>
		var resizeIframes = function() {
		    $('.resizibleIframe').each(function(_, iframeWrapper) {
		        var ratio = parseFloat($(iframeWrapper).data('ratio')),
					newHeight = $(iframeWrapper).width() / ratio;
		        $(iframeWrapper).height(newHeight);
			});
		};

		$(window).resize(function() {
		    resizeIframes();
		});

		$(function() {
		    resizeIframes();
		});
	</script>
{% endblock %}