{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="google-site-verification" content="RAskX0UNOnUGX4OiXn7jalIRZj-SwZej5FRKUlBHEnM" />
  <title>Python.ru{% block title %} {% endblock %}</title>
  {% if request.path == "/" %}
    <meta property="og:url" content="{{ request.get_host }}">
    <meta property="og:image" content="{{ request.get_host }}{% static "images/python_ru_social_thumb.png" %}" />
    <meta property="og:title" content="python.ru" />
    <meta property="og:description" content="python.ru русскоязычное сообщество языка python" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="python.ru">
  {% else %}
    {% block head %}

    {% endblock %}
  {% endif %}



</head>
<body>

<!--SECTION EVENTS START-->
{% include 'blocks/events_block.html' %}
<!--SECTION EVENTS END-->
<!--FOOTER START-->
{% include 'blocks/footer_block.html' %}
<!--FOOTER END-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="{% static "/js/script.js" %}"></script>
</body>
</html>