{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
{% include 'blocks/header_block.html' %}
<!--SECTION PROJECTS START-->
{% include 'blocks/our_projects.html' %}
<!--SECTION PROJECTS END-->
<!--SECTION DISTRIBUTION FORM START-->
{% include 'blocks/distribution_from_email.html' %}
<!--SECTION DISTRIBUTION FORM END-->
<!--SECTION POSTS START-->
{% include 'blocks/posts_block.html' %}
<!--SECTION POSTS END-->
{% include 'blocks/badges_block.html' %}
<!--SECTION EVENTS START-->
{% include 'blocks/events_block.html' %}
<!--SECTION EVENTS END-->
{% endblock %}