{% extends 'base.html' %}

{% block main_content %}
{% load staticfiles nginx_image %}
<section class="news-section" id="news">
  <div class="container">
    <div class="js-masonry" data-masonry-options='{"columnWidth": 2, "itemSelector": ".grid-item" }'>

      <article class="grid-item large">
        <div class="item-holder">
            <div class="text-holder">
              {% if article_featured.image %}
                <img src="{% thumbnail article_featured.image 792 529 %}" width="792" height="529" alt="">
              {% endif %}
              <div class="description">
                <time datetime="">{{ article_featured.published_at|date:"j E Y" }}</time>
                <h1>{{ post.name }}</h1>
                   <article class="article">
                       {{ post.description }}
                   </article>
              </div>
            </div>
        </div>
      </article>

      {# News right sidebar #}
      <section class="grid-item articles-list">
        <div class="item-holder">
          <strong class="title">Новости</strong>
          <div class="articles-holder">
            {% for article in articles_top %}
              <time datetime="{{ event.date|date:"Y-m-d H:m" }}">{{ article.published_at|date:"j E Y" }}</time>
              <h1><a href="{{ article.url }}" target="_blank">
                {{ article.name }}
              </a></h1>
            </article>
            {% endfor %}
          </div>
        </div>
      </section>

    </div>

  </div>
</section>

	{% include 'blocks/subscribe.html' %}
	{% include 'blocks/links.html' %}
{% endblock %}
